/target/
!hateoas/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.gitignore
hateoas/.mvn/
hateoas/README.md
hateoas/mvnw
hateoas/mvnw.cmd
hateoas/pom.xml
hateoas/src/
hateoas/target/
pom.xml
